
###> symfony/framework-bundle ###
#/.env.local
#/.env.local.php
#/.env.*.local
#/config/secrets/prod/prod.decrypt.private.php
#/public/bundles/
/examples/var/
/examples/*/vendor/
###< symfony/framework-bundle ###
