{% extends 'base.html.twig' %}

{% block title %} Edit Product {% endblock %}

{% block body %}
    <h1>Edit product</h1>
    
    {{ include('product/_form.html.twig') }}

    <ul>
        <li><a href="{{ path('product_index') }}">Products</a></li>
    </ul>

{% endblock %}
