{% extends 'base.html.twig' %}

{% block title %} Product detail  {% endblock %}

{% block body %}

<h1>Product detail</h1>

<div class="detail">
    <table>
        <tbody>
            <tr>
                <th>Name</th>
                <td>{{ product.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ product.description }}</td>
            </tr>
            <tr>
                <th>Size</th>
            <td>{{ product.size }}</td>
            </tr>
        </tbody>
    </table>
    <ul>
        <li><a href="{{ path('product_index') }}">Products</a></li>
    </ul>
</div>    
{% endblock %}
